/*wsui-colorful Start*/
@-webkit-keyframes bgp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.wsui-colorful {
  background-image: linear-gradient(to right, red, orange, yellow, green, yellow, orange, red, orange, yellow, green, yellow, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-size: 200% 100%;
  animation: bgp 5s infinite linear;
}

/*wsui-colorful End*/
.test-wsui-colorful {
  border: 1px solid red;
}
