@import "../dist/webkit-sassui-colorful.scss";

.test-webkit-sassui-colorful {
  border: 1px solid red;
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  width: 60%;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #ccc;
  background: #fefefe;
  line-height: 1.8;
  font-size: 20px;
}
