/*wsui-colorful Start*/
$wsui-colorful-options: (
  color:
    linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      yellow,
      orange,
      red,
      orange,
      yellow,
      green,
      yellow,
      orange,
      red
    )
) !default;

//@thanks to: https://www.zhangxinxu.com/
@-webkit-keyframes bgp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.wsui-colorful {
  $color: map-get(
    $map: $wsui-colorful-options,
    $key: color
  );

  background-image: $color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-size: 200% 100%;
  animation: bgp 5s infinite linear;
}
/*wsui-colorful End*/
